[Unit]
Description=CasparCG Media Scanner
After=basic.target

[Service]
User=casparcg
Group=casparcg
Type=simple
WorkingDirectory=/usr/share/casparcg
ExecStart=/usr/share/casparcg/bin/scanner
Restart=on-failure

[Install]
WantedBy=multi-user.target